@model IEnumerable<Kirjasto.Models.Käyttäjä>
@*<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MeFamily Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="https://miniprojekti.blob.core.windows.net/kirjat/christin-hume-k2Kcwkandwg-unsplash.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MeFamily - v4.8.0
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Kirjasto</a></h1>
        @{
                            if (String.IsNullOrWhiteSpace(User?.Identity?.Name))
                            {
                            <p class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Käyttäjä" asp-action="Index">Kirjaudu sisään</a>
                                </p>
                            }
                            else
                            {
                                <p> Olet kirjautunut sisään @User.Identity.Name</p>
                            }
                        }
      <nav id="navbar" class="navbar">
        <ul>
          <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Etusivu</a>
          </li>
           <li class="dropdown"><a href="#"><span>Kirjat</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kirja" asp-action="Index">Kaikki kirjat</a>
                        </li>
              <li><a href="Kirja/Lainaa">Lainaa</a></li>
            </ul>
          <li class="dropdown"><a href="#"><span>Kirjaudu</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                 <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Käyttäjä" asp-action="Create">Luo uusi käyttäjätunnus</a>
                 </li>
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Käyttäjä" asp-action="Index">Kirjaudu asiakkaana</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Käyttäjä" asp-action="Admin">Kirjaudu kirjastonhoitajana</a>
              </li>
              <li><a href="/Kirjaudu ulos">Kirjaudu ulos</a></li>
            </ul>
          </li>
          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Käyttäjä" asp-action="KirjauduUlos">Kirjaudu ulos</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- Header loppuu -->*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Käyttäjänimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salasana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnkoAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Käyttäjänimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salasana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnkoAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KäyttäjäId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KäyttäjäId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KäyttäjäId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*</body>
</html>
*@